# ignore target artifact folders
target/

# ignore IDE artifacts
.settings
.classpath
.project

/geoplatform-oauth2-core/dependency-reduced-pom.xml
/geoplatform-oauth2-services/geoplatform-oauth2-core/dependency-reduced-pom.xml